<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
    <a class="navbar-brand" href="#">Broadcast Chat</a>
</div>
</nav>

<!-- Chat Container -->
<div class="container mt-3 chat-container">
<h2 class="text-center mb-4">Chat Application</h2>
<p id="dummy_message"></p>
<!-- Messages Display -->
<div id="messages" class="messages-container">
    <%= render @messages %>
</div>

<!-- Input Form -->
<div class="message-input-container">
    <%= form_with(model: @message, local: true) do |form| %>
    <div class="form-floating">
        <%= form.text_field :body, required: true, data: { message: true }, class: 'form-control', id: 'message-input', placeholder: 'Type a message...' %>
        <%= form.label :body, 'Type a message', for: 'message-input' %>
    </div>
    <% end %>
</div>
</div>

<script>
    // Temukan semua elemen yang memiliki atribut `data-message=true`
    document.querySelectorAll('[data-message="true"]').forEach(function(element) {
        // Tambahkan event listener untuk "keypress"
        element.addEventListener('keypress', function(event) {
        // Cek jika tombol yang ditekan adalah Enter (keyCode 13) dan value input tidak kosong
            if (event.keyCode === 13 && event.target.value !== '') {
                event.preventDefault();
                // Panggil fungsi `send_message` dari App.chat
                App.chat.send_message(event.target.value);
                // Kosongkan input setelah mengirim pesan
                event.target.value = '';
                // Cegah aksi default dari tombol Enter (misalnya submit form)
                
            }
        });
    });
    // Scroll ke bawah saat halaman pertama kali dimuat
    document.addEventListener('DOMContentLoaded', function() {
        const messagesContainer = document.getElementById('messages');
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    });
</script>